{% extends "base.html" %}

{% block title %}Разделите вашу поездку с попутчиками | BlaBlaCar{% endblock %}

{% block content %}

  {% include 'blablacar/includes/navbar.html' %}
<h1>Станьте водителем BlaBlaCar — берите попутчиков и экономьте на бензине</h1>
 <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
        <button type="submit" class="btn btn-success">Создать запись</button>
  <form class="search-form">
    <input type="text" class="search-input" placeholder="Откуда"> <br>
    <input type="text" class="search-input" placeholder="Куда"><br>
    <input type="date" class="search-input"><br>
    <input type="number" class="search-input" min="1" max="8" placeholder="Люди">
    <button type="submit" class="search-button">Опубликовать поездку</button>
  </form>
  {% endblock %}